.txtRed{
    color:rgb(255, 133, 133);
}

.depuis1933{
    background-image: url(../img/la-bouffe-royale.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 480px;
}
.depuis1933 h1{
    /* line-height: 480px; */
}
.myslogan{
    color:white;
    font-size: 48px;
    padding-top: 15%;
    text-decoration: underline rgb(230, 55, 55);
}

.mySectionTitle{
    border: 2px solid black;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    background-color: rgb(136, 136, 136);
    color: white;

}
.mySsSction, .myev, .mybrd{
    border: 1px solid black;
}

.mySsSction h2{
    padding-bottom: 10px;
}
.myviandes {
    background-image: url(../img/viandes-charcuteries.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 640px;
}
.myvegan{
    background-image: url(../img/vegan-legumes-champignions.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 640px;
}

.myfloatimg{
    width: 160px;
    height: 160px;
    margin:  10px 10px 10px 0;
}
.gal{
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

.gal img    {
    width: 24%;
    height: auto;
    padding: 5px;
}

.imgchef img{
    width: 95%;
    height: auto;
    padding: 10px 0px;
}

.myprix{
    display: flex;
    justify-content: space-between;
}
.txtchef{
    color:gray;
}